body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #fff;
  overflow-x: hidden;
}
  
.calendar-container {
  width: 70%;
  max-width: auto;
  margin: 20px auto;
  padding: 20px;
  background-color: #23272a;
  border-radius: 10px;
}
  
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
  
.calendar-header button {
  background-color: #7289da;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
  
.calendar-header button:hover {
  background-color: #5b6ea4;
}

  
.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}
  
.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.days-grid .day {
  background-color: #99aab5;
  border-radius: 5px;
  min-height: 100px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.days-grid .day .event {
  margin: 2px 0;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  color: #fff;
}

.days-grid .day.today {
  border: 4px solid #4A90E2; /* Azul */
}
 
.btn-criar-evento {
  background-color: #7289da;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  text-decoration: none;
  text-align: center;
}


  
/* Estilos do modal */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal.hidden {
  display: none;
}
  
.modal-content {
  background-color: #23272a;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content label {
  display: block;
  margin-bottom: 5px;
  margin-top: 10px;
}
  
.modal-content input,
.modal-content select,
.modal-content button {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
}
  
  
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}
.modal-content p {
  margin: 10px 0;
  font-size: 16px;
}
  
.modal-content strong {
  color: #c0c0c0;
}

.close-popup-btn {
  display: inline-block;
  padding: 7px;
  background-color: #6c757d;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  margin-top: 5%;
  cursor: pointer;
}
  
.treino-event {
  background-color: #4a90e2;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.treino-presente{
  background-color: #28a745;
}

#reserve-link{
  display: inline-block;
  padding: 7px;
  background-color: #28a745;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  margin-top: 5%;
}

#reserve-link.cancelar{
  background-color: #dc3545;
}

#details-link{
  display: inline-block;
  padding: 7px;
  background-color: #17a2b8;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  margin-top: 5%;
}

#cancelar-link{
  display: inline-block;
  padding: 7px;
  background-color: #ffc107;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  margin-top: 5%;
  height: 66%;
}

#evento-descricao{
  display: flex;
  justify-content: center;
  font-weight: 600;
}

#today-btn{
  background-color: rgba(141, 101, 27, 0.308);
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
}


.modal-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Duas colunas */
  gap: 10px; /* Espaço entre os botões */
  margin-top: 15px;
}


@media (max-width: 1920px) {
  .calendar-container{
    width: 80%;
  }
}


 @media (max-width: 768px) {
  #today-btn{
    width: 50%;
  }

  .calendar-container {
    width: 90%;
  }

  .days-grid{
    display: grid;
    gap: 5px;
    grid-template: none; /* FAZ COM QUE OS DIAS APAREÇAM SEGUIDOS E NÃO DE 7 EM 7 */
  }

  .btn-criar-evento{
    width: 50%;
  }
}


  