body{
    overflow-x: hidden;
}
  
.membros-container {
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

.membros-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.table-responsive {
    overflow-x: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.membros-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

.membros-table th, 
.membros-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.membros-table th {
    background-color: #177dfa;
    color: white;
}

.foto-perfil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    /* border: 2px solid #e0e0e0; */
}

.foto-placeholder {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
}

.pagination {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.page-numbers {
    list-style: none;
    padding: 0;
    display: inline-flex;
    gap: 5px;
}

.page-numbers li {
    display: inline;
}

.page-numbers a, .page-numbers span {
    padding: 8px 12px;
    background: #eee;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
}

.page-numbers .active span {
    background: #007bff;
    color: white;
    font-weight: bold;
}




@media screen and (max-width: 768px) {
    .membros-table {
        display: block;
    }
    
    .membros-table thead {
        display: none;
    }
    
    .membros-table tbody, 
    .membros-table tr, 
    .membros-table td {
        display: block;
        width: 100%;
    }
    
    .membros-table tr {
        margin-bottom: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }
    
    .membros-table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }
    
    .membros-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 15px;
        width: 45%;
        padding-right: 10px;
        font-weight: bold;
        text-align: left;
    }
    
    /* Adicionando data-labels para células */
    .membros-table td:nth-child(1)::before { content: "Foto"; }
    .membros-table td:nth-child(2)::before { content: "Nome"; }
    .membros-table td:nth-child(3)::before { content: "Classe"; }

    .pagination {
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 480px) {
    .membros-container {
        max-width: 100%;
    }

    .membros-table td {
        padding-left: 40%;
    }
    
    .membros-table td::before {
        width: 35%;
    }
}

