{% extends 'CABRIL_APP/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/alterar_password.css' %}">

<div class="form-wrapper">
    <h2>Alterar password</h2>
    <form method="post" novalidate>
        {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.help_text %}
            <div class="help-text">{{ field.help_text|safe }}</div>
        {% endif %}
        {% for error in field.errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}
    </div>
    {% endfor %}
        <button type="submit" class="submit-button">Confirmar</button>
        <a href="{% url 'definicoes' %}" class="btn-voltar">Voltar</a>
    </form>
</div>

{% endblock %}
