{% extends 'CABRIL_APP/base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/CABRIL_APP/gestao_carrinha.css' %}">

<div class="form-container">
    <form method="post" class="teste">
        {% csrf_token %}

        <div class="form-group">
            {{ form.torneio_nome }}
        </div>
        
        <div class="form-group">
            <label style="font-weight: 500;">Data Início Torneio</label>
            {{ form.data_inicio }}
        </div>

        <div class="form-group">
            <label style="font-weight: 500;">Data Fim Torneio</label>
            {{ form.data_fim }}
        </div>

        <div class="form-group">
            {{ form.condutor }}
        </div>

        <div class="form-group">
            {{ form.ocupante1 }}
        </div>

        <div class="form-group">
            {{ form.ocupante2 }}
        </div>

        <div class="form-group">
            {{ form.ocupante3 }}
        </div>

        <div class="form-group">
            {{ form.ocupante4 }}
        </div>

        <div class="form-group">
            {{ form.ocupante5 }}
        </div>

        <div class="form-group">
            {{ form.ocupante6 }}
        </div>

        <div class="form-group">
            {{ form.ocupante7 }}
        </div>

        <div class="form-group">
            {{ form.ocupante8 }}
        </div>


        <div class="form-group">
            {{ form.quilometros_saida }}
        </div>

        <div class="form-group">
            {{ form.quilometros_chegada }}
        </div>

        <button type="submit">Preencher</button>
    </form>
</div>



{% endblock %}
