{% extends 'CABRIL_APP/base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/CABRIL_APP/adicionar_utilizador.css' %}">

<div class="container">
    <h2>Adicionar Atletas</h2>

    {% if utilizadores_sem_reserva %}
        <ul class="user-list">
            {% for utilizador in utilizadores_sem_reserva %}
                <li class="user-item">
                    <span>{{ utilizador.username }}</span>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="utilizador_id" value="{{ utilizador.id }}">
                        <button type="submit" class="btn">Adicionar ao Treino</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="no-users">Não há utilizadores disponíveis para adicionar.</p>
    {% endif %}

    <a href="{% url 'reservas_detalhes' treino.id %}" class="btn-voltar">Voltar</a>

</div>


{% endblock %}
