{% extends 'CABRIL_APP/base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/membros.css' %}">

<div class="membros-container">
    <h1>Atletas</h1>
    <!-- <form method="GET" class="search-form">
        <input type="text" name="q" placeholder="Pesquisar por nome..." value="{{ request.GET.q }}">
        <button type="submit">Pesquisar</button>
    </form> -->
    
    <div class="table-responsive">
        <table class="membros-table">
            
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Nome</th>
                    <th>Classe</th>
                </tr>
            </thead>
            <tbody>
                {% for membros in membros %}
                <tr>
                    <td>
                        {% if membros.foto_perfil %}
                            <img src="{{ membros.foto_perfil.url }}" class="foto-perfil">
                        {% else %}
                            <img src="{% static 'media/fotos_perfil/default.png' %}" alt="">
                        {% endif %}
                    </td>
                    <td>{{ membros.username }}</td>
                    <td>
                        {% if membros.classe %}
                            {{ membros.get_classe_display }}
                        {% else %}
                            Por definir
                        {% endif %}
                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<div class="pagination">
    <ul class="page-numbers">
        {% if membros.has_previous %}
            <li><a href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo;</a></li>
        {% endif %}

        {% for num in membros.paginator.page_range %}
            {% if membros.number == num %}
                <li class="active"><span>{{ num }}</span></li>
            {% elif num > membros.number|add:'-3' and num < membros.number|add:'3' %}
                <li><a href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}

        {% if membros.has_next %}
            <li><a href="?page={{ membros.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&raquo;</a></li>
        {% endif %}
    </ul>
</div>


{% endblock %}